.question-container {
  position: absolute;
  padding: 15px;
  background-color: transparent;
  width: 35rem;
  top: 15%;
  left: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: larger;
  display: flex;
  flex-direction: column;
  color: white;
}

.number {
  margin: 1rem;
}

.answer-btn {
  width: 100%;
  border-radius: 5px;
  color: white;
  font-size: medium;
}
